html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

html, body, input, textarea, button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(31, 37, 46);
  color: rgb(201, 201, 201);
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 80vh;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  line-height: 30px;
}

li:hover {
  cursor:pointer;
  color:rgb(255, 255, 255);
}

button:hover {
  cursor: pointer;
}

span {
  line-height: 25px;
}

* {
  box-sizing: border-box;
}

#title {
  height: 25px;
  font-size: 22px;
  text-align: left;
}

#app {
  height: 100%;
  width: 100%;
}

#app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#create-container {
  align-self:flex-start;
}

#account-container {
  align-self:flex-end;
  text-align: right;
}

#columns-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#left-container {
  width: 190px;
  display: flex;
}

#list-container {
  margin-top: 50px;
  flex-grow: 1;
}

#right-container {
  flex-grow: 1;
  display: flex;
  text-align: left;
}

#editor-container {
  padding-top: 25px;
  flex-grow: 1;
}